@import url('variable.css');

body {
    background-color: var(--bg-color-body);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
}

header {
    background-color: #0b7fef;
    padding: 20px;
    font-size: 1.8em;
    color: var(--text-color)
}

main {
    max-width: 900px;
    background-color: var(--bg-color-container);
    border-radius: 5px;
    box-shadow: 0 0 5px #222;
    margin: 20px auto;
    padding: 20px;
    color: var(--text-color)
}

#initial-image {
    width: 75%;
    height: auto;
    border-radius: 20px;
}

.negrito {
    font-weight: bold;
}

.buttons {
    justify-content: space-around;
    padding: 20px;
}

section.buttons > button {
    all: unset;
    border-radius: 8px;
    width: 15%;
    height: 25px;
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 10px;
    margin-right: 20px;
    font-size: 16px;
    cursor: pointer;
}

section.buttons > button:hover {
    background-color: rgb(182, 5, 5);
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    background-color: var(--bg-color-container);
    width: 250px;
    box-shadow: 0 0 10px #414040;
    border-radius: 10px;
    font-size: 0.8em;
}

#card-image {
    width: 230px;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
}

#mode {
    width: 50px;
    height: 30px;
    background-color: var(--bg-color-container);
    border-radius: 15px;
    margin-left: 90%;
}

@media (max-width: 600px) {
    .card {
        width: 90%;
    }
}